AIRFLOW_IMAGE_NAME=airflow-dbt-local-1000-models:latest
AIRFLOW_UID=50000

POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW_WWW_USER_USERNAME=airflow
AIRFLOW_WWW_USER_PASSWORD=airflow
