AIRFLOW_UID=50000
FERNET_KEY=WkoT-MsdxXBT1Hnz8OK68KXV9Le8_yCRGepHeOpyD5E=
AIRFLOW__API_AUTH__JWT_SECRET=airflow_jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
